{% load static %}
{% load i18n %}

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
    <h1>{% trans "Adj meg egy új kategóriát" %}</h1>

    <form id="create-category">
        {% csrf_token %}
        {% trans "Kategória" %}<br>
        <input type="text" name="category">
        <button type="submit">{% trans "Küldés" %}</button>
        <div class="server-success"></div>
        <div class="server-failure"></div>
    </form>

    <script src="{% static 'js/create.js' %}"></script>
</body>
</html>
